<h2 class="page-header">Registro de Actividades</h2>
<h3>Usuario: {{user.username}} </h3>

<div id="mapa" >
    
  </div>
  <div id="infomapa">

  </div>
{{!--<script async defer id='201713019551468' src='http://widgets.worldtimeserver.com/Public.ashx?rid=201713019551468&theme=Analog&action=clock&wtsid=CL&hex=2dff00&city=Santiago&size=small'></script>--}}
<h3>Datos</h3>
<p>Nombre: {{user.name}}</p>
<p>Hora:{{hora}}</p>
<p>lat: {{lat}}</p>
<hr>
<div class="row">
        <div class="col-lg-2">
                <form action="/" method="post">
                        <input type="hidden" name="latitude" value=""/>
                        <input type="hidden" name="longitude" value=""/>
                        <button type="submit" class="btn btn-success" disabled>Llegada</button>
                </form>
        </div>
        <div class="col-lg-3">
            <button type="button" class="btn btn-danger" >Salida</button>
        </div>
        <div class="col-lg-6">
            <h2>Justificacion</h2>
        <textarea rows="4" cols="50" >
Comentarios por atraso.
        </textarea>
        </div>
</div>

  <script src="/js/mapa.js"></script>
}</script>
